<!-- Load Library First -->
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/default.css" />
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/progressBar.css" />
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/button.css" />
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/input.css" />
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/textView.css" />
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/table.css" />
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/switch.css" />
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/slider.css" />
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/navbar.css" />
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/smenu.css" />
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/wavec.css" />
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/spinner.css" />
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/scrollbar.css" />
<link rel="stylesheet" type="text/css" media="screen" href="static/css/splash.css" />

<!-- Page Style -->
<link rel="stylesheet" type="text/css" media="screen" href="static/css/core.css" />
<link rel="stylesheet" type="text/css" media="screen" href="static/css/screens/home.css" />
<link rel="stylesheet" type="text/css" media="screen" href="static/css/screens/results.css" />
<link rel="stylesheet" type="text/css" media="screen" href="static/css/screens/schedule.css" />
<link rel="stylesheet" type="text/css" media="screen" href="static/css/screens/subscribe.css" />
<link rel="stylesheet" type="text/css" media="screen" href="static/css/screens/tests.css" />
<link rel="stylesheet" type="text/css" media="screen" href="static/css/dark.css" />

<!-- Fonts -->
<link rel="stylesheet" type="text/css" media="screen" href="assets/fonts/calibri/calibri.css" />
<link rel="stylesheet" type="text/css" media="screen" href="assets/fonts/opensans/opensans.css" />
<link rel="stylesheet" type="text/css" media="screen" href="assets/fonts/nunito/nunito.css" />
<link rel="stylesheet" type="text/css" media="screen" href="assets/fonts/consolas/consolas.css" />
<link rel="stylesheet" type="text/css" media="screen" href="assets/fonts/fontawesome/fontawesome.css" />