#app {
	--max-content-width: 1650px;
}

#app > .videos > .content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#app > .videos > .content {
	padding: 10px 0;
}

#app > .videos > .content > .videoCard {
	margin: 10px;
}