<div id="{{id}}"></div>
<script type='text/javascript'>
	// Isolate scope
	(function() {
		let container = document.getElementById(`{{id}}`);
		let attributes = JSON.parse(`{{attributes}}`);
		let classes = JSON.parse(`{{classes}}`);

		let image = new lazyload({
            tagName: `{{tag}}`,
			source: `{{url}}`,
			classes,
			spinner: `{{spinner}}`
		});


        for (let key of Object.keys(attributes))
			image.container[key] = attributes[key];

		container.parentElement.replaceChild(image.container, container);
	})();
</script>