<span class="meta">
	<span class="views">{{views}} lượt xem</span>
	<dot></dot>

	<span class="uploaded">{{uploaded}}</span>
</span>

<span class="menu">
	<span class="likes">
		<span class="like">
			<icon data-icon="thumbUp"></icon>
			<span class="value">0</span>
		</span>

		<span class="dislike">
			<icon data-icon="thumbDown"></icon>
			<span class="value">0</span>
		</span>

		<div class="ratio">
			<div class="bar"></div>
		</div>
	</span>

	<span class="button share">
		<icon data-icon="share"></icon>
		<span class="value">CHIA SẺ</span>
	</span>
</span>